{{page-title "Index"}}

<div class="d-flex flex-column">
  <LinkTo @route="slider">
    wow
  </LinkTo>
  <LinkTo @route="slider">
    wow
  </LinkTo>
</div>

<LazyImage @dataSrc="img/actual-image.jpg" @altText="Description" />
{{outlet}}